main,.main{
  min-height: calc(100vh - 72px);
}

.c__mobileAlbum {
  height: 247px;
}

.c-album{

  &__img{
    width: 100%;
    object-fit: cover;
    // height: 100%;

    &--large{
      @include media-breakpoint-up(md){
        height: 268px;
      }
      @include media-breakpoint-up(lg){
        // width: 635px;
        height: 434px;
      }
    }

    &--medium{
      @include media-breakpoint-up(md){
        height: 132px;
      }

      @include media-breakpoint-up(lg){
        // width: 437px;
        height: 213px;
      }
    }

    &--small{
      @include media-breakpoint-up(md){
        height: 93px;
      }
      @include media-breakpoint-up(lg){
        // width: 264px;
        height: 151px;
      }
    }
  }


  &__btn{
    width: 100%;
    height: 34px;
    font-size: .8rem;
    @include pc-up{
      height: 54px;
      font-size: 1rem;
    }
  }

}


.c-description__textLink{
  font-size: $h6-font-size;
}

.c-infoTag{

  &__item{
    font-size: $h6-font-size;
    font-weight: normal;
    padding: 12px;
    &:not(:last-child){
      margin-right: 15px;
    }
  }

  &__btn{
    font-size: 1rem;
  }

}


.c-roomListHead {
  display: flex;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  @include font-open-sans;
  border-bottom: 1px solid $color-primary-light;
  &__item {
    padding: 10px;

    &.--roomType{
      width: 54%;
    }

    &.--sleeps{
      width: 14%;
    }

    &.--price {
      width: 15%;
    }

    &.--rooms {
      flex: 1;
    }
  }
}

.c-roomList{

  &__card {
    border-radius: 10px;
    overflow: hidden;
    @include tablet-up {
      border-radius: 0;
      overflow: unset;
    }
  }

  &__cardMain.card{
    border: solid #f1f0f8;
    border-width: 1px 1px 0 0; //##
    border-radius: 10px;
    @include tablet-up {
      border: 0;
      border-radius: 0;
    }
  }

  &__item__imgWrap{
      >img{
        height: 100%;
        object-fit: cover;
      }

  }

  &__cardSide{

  }

  &__item__featureBucket{

  }

  &__item__sleeps{
    text-align: left;
    @include tablet-up{
      text-align: center;
    }
  }

  // &__sideItemsWrap{
  &__cardSide{
    justify-content: space-between;
    background-color: $color-primary-light;
    @include tablet-up{
      flex-direction: row-reverse;
      justify-content: initial;
      background-color: #fff;
    }
  }

  &__item__roomsCount{
    .form-control{
      padding: 0;
      height: auto;
      text-align: center;
      line-height: 1.5;
      background-color: transparent;
      color: #00000099;
      border: 0;
    }
  }

  &__item__roomsPrice{

  }
}

.o-amenities{
  display: flex;
  flex-wrap: wrap;

  &__item{
    display: flex;
    align-items: center;
    margin-right: 11px;
    margin-bottom: 10px;
    @include pc-up{
    }
  }
}
