main,.main{
  min-height: calc(100vh - 72px);
}

.p-detail{
  padding-top: 42px;
  @include tablet-up {
    padding-top: 0;
  }

}

.c__mobileAlbum {
  height: 247px;
}

.c-album{

  &__img{
    width: 100%;
    object-fit: cover;
    // height: 100%;

    &--large{
      @include media-breakpoint-up(md){
        height: 268px;
      }
      @include media-breakpoint-up(lg){
        // width: 635px;
        height: 434px;
      }
    }

    &--medium{
      @include media-breakpoint-up(md){
        height: 132px;
      }

      @include media-breakpoint-up(lg){
        // width: 437px;
        height: 213px;
      }
    }

    &--small{
      @include media-breakpoint-up(md){
        height: 93px;
      }
      @include media-breakpoint-up(lg){
        // width: 264px;
        height: 151px;
      }
    }
  }


  &__btn{
    width: 100%;
    height: 34px;
    white-space: nowrap;
    font-size: .8rem;
    @include pc-up{
      height: 54px;
      font-size: 1rem;
    }
  }

}


.c-description__textLink{
  font-size: $h6-font-size;
}

.c-editDetailBar {
  position: fixed;
  top: 72px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: flex;
  padding: 0 20px;
  background-color: $color-primary-light;
  @include tablet-up {
    position: static;
    padding: 0;
    background-color: transparent;
  }

  &__infoTag.c-infoTag {
    flex: 1;
    @include tablet-up {
      flex:0
    }
    .c-infoTag__item {
      // width: 0;
      // width: 100%;
      flex-grow: 1;
      font-size: 12px;
      margin-right: 0;
      @include tablet-up {
        width: auto;
        font-size: $h6-font-size;
        &:not(:last-child){ //@@重複寫一遍
          margin-right: 15px;
        }
      }
    }
  }

  &__btn{
    font-size: 1rem;
  }
}

.c-infoTag{

  &__item{
    font-size: $h6-font-size;
    font-weight: normal;
    padding: 12px;
    line-height: 1.5;
    &:not(:last-child){
      margin-right: 15px;
    }
  }
}




.c-roomListHead {
  display: flex;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  @include font-open-sans;
  border-bottom: 1px solid $color-primary-light;
  &__item {
    padding: 10px;

    &.--roomType{
      width: 54%;
    }

    &.--sleeps{
      width: 14%;
    }

    &.--price {
      width: 15%;
    }

    &.--rooms {
      flex: 1;
    }
  }
}

.c-roomList{

  &__card {
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid $color-primary-light;
    @include tablet-up {
      margin-bottom: 20px;
      padding-bottom: 25px;
      border: 0;
      border-bottom: 1.5px solid $color-primary-light;
      border-radius: 0;
    }
  }

  &__cardMain.card{
    border: solid #f1f0f8;
    border-width: 1px 1px 0 0; //##
    border-radius: 10px;
    @include tablet-up {
      border: 0;
      border-radius: 0;
    }
  }

  &__imgWrap{
    width: 100%;
    height: 150px;
    @include tablet-up {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      overflow: hidden;
    }
    @include pc-up{
      height: 175px;
    }

    >img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }


  }

  &__cardSide{

  }

  &__item__featureBucket{

  }

  &__sleeps{
    // justify-content: flex-start;
    text-align: left;
    @include tablet-up{
      text-align: center;
    }
  }

  // &__sideItemsWrap{
  &__cardSide{
    justify-content: space-between;
    background-color: $color-primary-light;
    @include tablet-up{
      flex-direction: row-reverse;
      justify-content: initial;
      background-color: #fff;
    }
  }

  &__roomCount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41.6666%;

    &__inputGroup{
      width: 150px;
    }

    &__numInput{
      padding: 0;
      height: auto;
      text-align: center;
      line-height: 1.5;
      background-color: transparent;
      color: #00000099;
      border: 0;
    }

    @include tablet-up {
      width: 50%;
    }
  }

  &__roomPrice{
    @include tablet-up {
      width: 50%;
    }
    .text-muted{
      font-size: 12px;
    }
  }
}

.o-amenities{
  display: flex;
  flex-wrap: wrap;
  font-size: $h6-font-size;
  @include pc-up{
    height: 116px;
    flex-direction: column;
    align-items:space-between;

  }

  .material-icons{
    font-size: 18px;
    margin-right: 6px;
  }

  &__item{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 5px;
    @include pc-up{
    }
  }
}


.c-reserveModal {

  .modal-dialog{
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal-content{
    background-color: rgba(0,0,0,.7);
  }
}