

/* 區塊命名 */
// @@裡面客製修改元件該如何命

.c-banner{
  margin-top: 72px;//@@不會破
  height: 320px;
  background-image: url("../images/index-banner.jpg");
  background-size: cover;
  background-position: 50% 50%;
  // .slide1 {
  //     // background-image: url("../../images/index-banner.jpg");
  //     // background-image: url("../images/index-banner.jpg"); //%%dist為主
  //     // %%要文字不是圖
  // }

  &__swiper-container {
    position: relative;
    // width: 80%;
    z-index: 1;
  }

  &__swiper-slide {
      text-align: center;
      font-size: 18px;
      white-space:nowrap;
      // ##會折行
      // display: flex;
      // justify-content: center;
      // align-items: center;
  }

  &__swiperNavigation{
    position: absolute;
    // position: relative;
    z-index: 10;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    color: #fff;
  }

  &__swiperButtonPrev{
    // width: 24px;
    // height: 24px;
    font-size: 60px;
  }

  &__swiperButtonNext{
    // width: 24px;
    // height: 24px;
    font-size: 60px;
  }

  // .material-icons{
  //   font-size: 3rem;
  // }
}

.c-search{
  // transform: translateY 會影響 BS元件圖層 ?!
  // transform: translateY(-25%);
  // @include media-breakpoint-up(lg) {
  //   transform: translateY(-50%);
  // }
  margin-top: -52px;
  // ###
  position: relative;
  z-index: 100;
}
.c-topChoices{

  &__nav-item {
    @extend %transition;
  }
  &__nav-item .nav-link{
    position: relative;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      // background-color: $color-secondary;
      background: map-get($theme-colors, "info");
      @extend %transition;
    }
    @include media-breakpoint-up(lg){
      // font-size: 24px;
      font-size: $h3-font-size;
    }
  }

  &__nav-item .nav-link.active{
    &::after {
      // background-color: $color-primary;
      background: map-get($theme-colors, "primary");
    }
  }

  &__img{
    width: 100%;
    height: 164px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
        height: 185px;
    }

    @include media-breakpoint-up(lg) {
        height: 175px;
    }

  }
  //@@純修飾是否需要改這樣
  //@@沒有建立元素就--修飾
  // & &__card--textRight{
  //   text-align: left;
  // }

  &__card{
      text-align: left;
      // &--textRight{
      //   text-align: left;
      // }
  }
}
.c-destinations{

  &__card{
    height: 78px;
  }

  // @@改card-img
  &__card-img{
    width: 100%;
    height: 78px;//@@不寫死會爆出
    object-fit: cover;
    cursor: pointer;
  }

  // &__card-img-overlay--bg{//@@
  &__card-img-overlay{
    background: linear-gradient(-90deg, #0000 0%, #000 100%);
  }

  // &__card-title--fz{//@@
  &__card-title{
    font-size: 12px;
  }
}

.c-inspiration{

  &__swiper-slide{
    width: 70%;
    @include media-breakpoint-up(md){
      width: calc(33.333333% - 30px);
    }
  }

  &__card{
      text-align: left;
  }

  &__img {
      object-fit: cover;
      width: 100%;
      height: 181px;
      // ##手機圖大 平版小 pc又大
      @include media-breakpoint-up(md) {
          // width: 210px;
          height: 158px;
      }
      @include media-breakpoint-up(lg) {
          // width: 350px;
          height: 263px;
      }
  }
}

.c-subscribe{
  @include media-breakpoint-up(md) {
    // height: 320px;
  }
}

