
// .o-interactiveCheckbox__toggle{
.c-interactiveCheckbox__toggle{
  position: absolute;
  opacity: 0;
  &:checked ~ label{
    border-bottom: 1px solid #fff;
    // .c-interactiveCheckbox__arrow{
    .c-reserveInfo__header__arrow{
      transform:rotate(180deg);
    }
  }
}

.p-reservationDetail{

  &__reserveInfo{
    background-color: $color-primary-light;
    @include tablet-up{
      background-color: transparent;
    }
  }
}

.c-reserveInfo{
  background-color: $color-primary-light;
  font-size: $h6-font-size;
  @include tablet-up{
    border-radius: 8px;
    overflow: hidden;
  }
  
  &__header{
    position: relative;

    &__total{
      position: absolute;
      top: 50%;
      left: 0;
      transform:translateY(-50%);
    }

    &__arrow{
      transition:transform .3s;
    }
  }
  
  &__border-bottom{
    border-bottom: 1px solid #fff !important;
  }

  &__body{
    position: absolute;// 定位在col上
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;

    @include tablet-up{
      position: relative;
      top: 0;
    }
  }
}
