.o-badge{
  display: flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: normal;
  line-height: 1.5;
  .material-icons{
    font-size: 1rem;
    display: inline-block;
    margin-right: 4px;
  }
}

.p-user{

  &__profile{
    font-size: $h6-font-size;
    img{
      width: 64px;
      height: 64px;
    }
  }
  
  &__booking{

  }
}


.c-paymentMethod{
  overflow: hidden;
  &__item{
    background-color: #fff;
    border-radius: 4px;
    border:none;
  }
}