.o-badge{
  display: flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: normal;
  line-height: 1.5;
  .material-icons{
    font-size: 1rem;
    display: inline-block;
    margin-right: 4px;
  }
}

.p-user{

  &__profile{
    font-size: $h6-font-size;
  }

  &__booking{

  }
}

.c-profileCard{
  &__userPhoto{
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: 50% 50%;
    @include tablet-up{
      position: static;
    }
    @include pc-up{
      position: absolute;
    }
  }
}


.c-paymentMethod{
  overflow: hidden;
  &__item{
    background-color: #fff;
    border-radius: 4px;
    border:none;
  }
}

.c-bookingNav{

  & &__tabLink{ // @@
  // &__tabLink{ // @@
    font-size: 1rem;
    color: $color-secondary-dark;
    &.active.active{
      background-color: transparent;
      color: $color-primary;
    }
  }
}

.c-cardList{

  &__itemWrap{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    &:not(:last-child){
      @include tablet-up{
        border-bottom: 1px solid $color-primary-light;
      }
    }
  }
}

.c-roomCard{
  border-radius: 8px;
  overflow: hidden;
  &__imgWrap{
    width: 100%;
    >img{
      width: 100%;
      height: 226px;
      object-fit: cover;
      @include tablet-up{
        height: 186px;
      }
      @include pc-up{
        height: 175px;
      }
    }
  }

  .material-icons{
    color: $color-secondary-dark;
  }

  &__body{
    background-color: $color-primary-light;
    flex-wrap: nowrap;
    @include tablet-up{
      background-color: #fff;
      // padding: 0;
      // display: flex;
    }

    &__item:not(:last-child){
      .c-roomCard__body__text{
        margin-bottom: 9px;
      }
    }

    &__title{
      font-size: 1rem;
      font-weight: bold;
      color: $color-secondary-dark;
      margin-bottom: 0;
    }

    &__text{
      font-size: $h6-font-size;
      margin-bottom: 0;
    }

  }
}
