<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,user-scalable=no,shrink-to-fit=no,maximum-scale=1.0,minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="" />
    <!-- 作者 -->
    <meta name="keywords" content="" />
    <!-- 關鍵字 -->
    <meta name="description" content="" />
    <!-- 網頁說明 -->
    <meta name="company" content="" />
    <!-- 公司名稱 -->
    <meta name="copyright" content="" />
    <!-- 版權宣告 -->
    <meta name="Distribution" content="" />
    <!-- 網站發佈地址 -->
    <meta property="og:title" content="" />
    <!-- 分享的標題  -->
    <meta property="og:description" content="" />
    <!-- 分享的內容敘述 -->
    <meta property="og:url" content="" />
    <!-- 分享的網頁連結 -->
    <meta property="og:image" content="" />
    <!--分享在FB的縮圖 -->

    <title><%- title %></title>
    <link rel="shortcut icon" href="#" />
    <!-- Google icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Open Sans Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Raleway Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Animate -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-sm navbar-light py-2">
              <button
                class="navbar-toggler pl-0 border-0"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="material-icons">menu</span>
              </button>
              <a class="navbar-brand py-0" href="index.html">
                <h1 class="l_logo mb-0">ALOHA</h1>
              </a>
              <!-- 手機顯示 Login -->
              <a
                class="d-md-none js-nav__login nav-link p-0 text-dark font-weight-bold"
                href="login.html"
              >
                <span class="login__userName">Login</span>
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto pt-1 pt-md-0">
                  <li class="nav-item dropdown mr-md-3">
                    <a
                      class="nav-link dropdown-toggle d-flex align-items-center"
                      href="#"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span class="material-icons text-dark"> language </span>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-md-right border-0 u-border-md-1"
                      aria-labelledby="language"
                    >
                      <a href="#" class="dropdown-item">繁體中文</a>
                      <a href="#" class="dropdown-item">日本語</a>
                    </div>
                  </li>
                  <li class="nav-item border-0">
                    <a class="nav-link text-dark font-weight-bold" href="#"
                      >Sign up</a
                    >
                  </li>
                  <li class="nav-item d-none d-md-block">
                    <a
                      class="nav-link text-dark font-weight-bold"
                      href="login.html"
                      >Login</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <%- contents %>

    <footer id="js-footer" class="c-footer">
      <!-- 頁尾導覽列 -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container">
          <ul
            class="navbar-nav flex-column-reverse flex-column-md flex-md-row justify-content-center justify-content-md-between align-items-center w-100"
          >
            <li>
              <p class="nav-item text-muted h5 mb-0">
                © 2020 ALOHA, Inc. All rights reserved.
              </p>
            </li>
            <li class="d-flex ml-md-6">
              <a class="nav-item text-muted nav-link h5 mb-0 mr-3" href="#"
                >FAQs</a
              >
              <a class="nav-item text-muted nav-link h5 mb-0 mr-3" href="#"
                >Terms of use</a
              >
              <a class="nav-item text-muted nav-link h5 mb-0" href="#"
                >Privacy policy</a
              >
            </li>
            <!-- language -->
            <li
              class="btn-group dropup d-lg-block d-none ml-auto c-footer__language"
            >
              <button
                type="button"
                class="btn btn-link dropdown-toggle d-flex align-items-center text-decoration-none"
                data-toggle="dropdown"
                data-display="static"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="material-icons text-dark"> language </span>
                <small class="ml-1 text-dark">English</small>
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right">
                <a href="#" class="dropdown-item">繁體中文</a>
                <a href="#" class="dropdown-item">日本語</a>
              </div>
            </li>
            <!-- $ -->
            <li class="btn-group dropup d-lg-block d-none c-footer__currency">
              <button
                type="button"
                class="btn btn-link dropdown-toggle d-flex align-items-center text-decoration-none"
                data-toggle="dropdown"
                data-display="static"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="material-icons text-dark"> attach_money </span>
                <small class="ml-1 text-dark">TWD</small>
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right">
                <button class="dropdown-item" type="button">US</button>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
    <!-- 套件 -->
    <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
