<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,user-scalable=no,shrink-to-fit=no,maximum-scale=1.0,minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="" />
    <!-- 作者 -->
    <meta name="keywords" content="" />
    <!-- 關鍵字 -->
    <meta name="description" content="" />
    <!-- 網頁說明 -->
    <meta name="company" content="" />
    <!-- 公司名稱 -->
    <meta name="copyright" content="" />
    <!-- 版權宣告 -->
    <meta name="Distribution" content="" />
    <!-- 網站發佈地址 -->
    <meta property=" og:title" content="" />
    <!-- 分享的標題  -->
    <meta property="og:description" content="" />
    <!-- 分享的內容敘述 -->
    <meta property="og:url" content="" />
    <!-- 分享的網頁連結 -->
    <meta property="og:image" content="" />
    <!--分享在FB的縮圖 -->

    <title><%- title %></title>
    <link rel="shortcut icon" href="#" />
    <!-- Google icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Open Sans Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Raleway Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Animate -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar p-login__header navbar-expand-sm py-2">
              <div class="container p-login__container px-lg-0">
                <a href="./index.html" class="navbar-brand">
                  <img src="./assets/images/logo-aloha.svg" alt="" />
                </a>
                <a href="./index.html" class="d-sm-none">
                  <span class="material-icons text-dark">close</span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <%- contents %>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
