/*全站設定*/

// ========layout===============

body {
  min-width: 320px;
}

.header {
  .navbar-nav .nav-item:not(:last-child) {
    border-bottom: 1px solid $color-primary-light;
    @include tablet-up {
      border: none;
    }
  }
}
.navbar {
  padding: 0;
}

main,
.main {
  //header m:56px tablet:72px pc:72px
  //footer m:102px tablet:67px pc:72px
  min-height: calc(100vh - 102px);
  @include tablet-up {
    min-height: calc(100vh - 67px);
  }
  @include pc-up {
    min-height: calc(100vh - 72px);
    // padding-top: 72px;
  }
}

footer,
.footer {
  height: 102px;
  @include tablet-up {
    height: 67px;
  }
  @include pc-up {
    height: 72px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  @include tablet-up {
    max-width: 720px;
  }

  @include pc-up {
    // max-width: 1112px;
    max-width: 1140px;
  }
}

//title Raleway
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

// =======其他全域設定===============

ul {
  list-style: none;
}

button:focus {
  outline: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

th,
td {
  text-align: center;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

label {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
}

// ======custom-bs4=====================

a.nav-link {
  color: map-get($theme-colors, 'secondary');

  &.active {
    color: map-get($theme-colors, 'primary');
  }
}

.dropdown-toggle::after {
  // display: none;
  color: $color-secondary-dark;
}

.form-control:focus {
  box-shadow: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.btn {
  font-size: inherit;
  font-weight: 700;
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }
}

// a:hover, .btn-link:hover, .btn-link:focus{
//   text-decoration: none;
// }
// a.text-dark:hover,
// a.text-dark:focus {
//   color: #0E8A00 !important;
// }
