/*全站設定*/

html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  // font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main{
    min-height: calc(100vh - 260px);//header+footer
}

.container{
  position: relative;
  max-width: 1112px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

button:focus{
  outline: 0;
}

img{
    display: block;
}

th,td{
  text-align: center;
}

a.nav-link {
  color: map-get($theme-colors, info);

  &.active {
      color: map-get($theme-colors, primary);
  }
}

// a:hover, .btn-link:hover, .btn-link:focus{
//   text-decoration: none;
// }
// a.text-dark:hover,
// a.text-dark:focus {
//   color: #0E8A00 !important;
// }

