h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4 {
    line-height: 1.2;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', serif;
    color: #000000DE;
}

@each $key,$val in $fontSize {
#{$key},.#{$key}{
  font-size: $val;
}
}

small{
  font-size: 12px;
}

// BS4帶有顏色變淺效果
.text-muted {
  font-size: 14px;
}

// 為了 14px
.text--muted {
  font-size: 14px;
}
