h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', serif;
  color: #000000de;
}

// @each $key,$val in $fontSize {
//   #{$key},.#{$key}{
//     font-size: #{$val}px;
//   }
// }

small {
  font-size: 12px;
}

// BS4帶有顏色變淺效果
.text-muted {
  font-size: 14px;
}

.text--muted {
  font-size: 14px;
}

@mixin font-raleway {
  font-family: 'Raleway', sans-serif;
}

@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.u-fontRoboto {
  font-family: 'Roboto', sans-serif;
}
.u-fontJhengHei {
  font-family: 'Microsoft JhengHei', sans-serif;
}
.u-fontOpenSans {
  font-family: 'Open Sans', sans-serif;
}
.u-fontRaleway {
  font-family: 'Raleway', sans-serif;
}

//產生(斷點)字體工具類
$media-screen: (sm, md, lg, fullSize);

@each $key, $val in $media-screen {
  @if ($key == sm) {
    @for $i from 1 through 6 {
      .u-fz-sm-#{$i} {
        @include media-breakpoint-up(sm) {
          @if ($i == 1) {
            font-size: $h1-font-size !important;
          } @else if($i == 2) {
            font-size: $h2-font-size !important;
          } @else if($i == 3) {
            font-size: $h3-font-size !important;
          } @else if($i == 4) {
            font-size: $h4-font-size !important;
          } @else if($i == 5) {
            font-size: $h5-font-size !important;
          } @else if($i == 6) {
            font-size: $h6-font-size !important;
          }
        }
      }
    }
  }
  @if ($key == md) {
    @for $i from 1 through 6 {
      .u-fz-md-#{$i} {
        @include media-breakpoint-up(md) {
          @if ($i == 1) {
            font-size: $h1-font-size !important;
          } @else if($i == 2) {
            font-size: $h2-font-size !important;
          } @else if($i == 3) {
            font-size: $h3-font-size !important;
          } @else if($i == 4) {
            font-size: $h4-font-size !important;
          } @else if($i == 5) {
            font-size: $h5-font-size !important;
          } @else if($i == 6) {
            font-size: $h6-font-size !important;
          }
        }
      }
    }
  }
  @if ($key == lg) {
    @for $i from 1 through 6 {
      .u-fz-lg-#{$i} {
        @include media-breakpoint-up(lg) {
          @if ($i == 1) {
            font-size: $h1-font-size !important;
          } @else if($i == 2) {
            font-size: $h2-font-size !important;
          } @else if($i == 3) {
            font-size: $h3-font-size !important;
          } @else if($i == 4) {
            font-size: $h4-font-size !important;
          } @else if($i == 5) {
            font-size: $h5-font-size !important;
          } @else if($i == 6) {
            font-size: $h6-font-size !important;
          }
        }
      }
    }
  }

  @if ($key == fullSize) {
    @for $i from 1 through 6 {
      .u-fz-#{$i} {
        @if ($i == 1) {
          font-size: $h1-font-size !important;
        } @else if($i == 2) {
          font-size: $h2-font-size !important;
        } @else if($i == 3) {
          font-size: $h3-font-size !important;
        } @else if($i == 4) {
          font-size: $h4-font-size !important;
        } @else if($i == 5) {
          font-size: $h5-font-size !important;
        } @else if($i == 6) {
          font-size: $h6-font-size !important;
        }
      }
    }
  }
}
