
@mixin pc-up{
  @include media-breakpoint-up(lg){
    @content;
  }
}

@mixin tablet-up {
  @include media-breakpoint-up(md){//md
    @content;
  }
}

@mixin flex($hov:space-between,$col:center){
  display:flex;
  justify-content:$hov;
  align-items:$col;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin banner($url, $height) {
	background-image: url($url);
	height: $height;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

//bg做圖片方框
@mixin bgImg($w:0,$h:0,$img:'',$size:contain){
  display:inline-block;
  width:$w;
  height:$h;
  background:url($img) no-repeat center;
  background-size:$size;
}

@mixin position($pos:absolute,$top:0,$left:0,$w:100%,$h:100%){
  position:$pos;
  top:$top;
  left:$left;
  width:$w;
  height:$h;
}

//定位小icon圖片
@mixin positionImg($pos:absolute,$top:0,$right:0,$w:0,$h:0,$img:''){
  position:$pos;
  top:$top;
  right:$right;
  width:$w;
  height:$h;
  background:url($img) no-repeat center;
  background-size:contain;
}

// @mixin box-shadow{}

@mixin hidden-text($width, $height, $bg_url) {
    width: $width;
    height: $height;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-image: $bg_url;
    background-repeat: no-repeat;
}


// ==============extend===============

%transition {
  transition: all 0.3s;
}

%responsive-img {
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}


